@import url(https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap);

body {
  min-height: 2000px;
}

* {
  font-family: 'Afacad Flux';
}
/* Navbar */
.sign:hover {
  transform: translateY(-3px);
}
/* Login Dan Sign Up Html*/
a,
.sign {
  text-decoration: none;
}
/* info menu dan simple quote */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
